{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Experiência Profissional -->
    <div class="row">
      <div class="col-12">
        <br style="height: 20vh;">
        <h2 class="section-title">Experiência Profissional</h2>
        <br style="height: 5vh;">
      </div>

      
      <div class="row row-cols-2">
      <div class="col-6 col-md-4" style="margin-bottom: 10px;">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title"><a class='text-decoration-none'  href="https://www.linkedin.com/company/alto-giro/" target="_blank">Alto Giro</a></h3>
                <p><strong>Cargo: </strong>Analista de Dados</p>
                <p><strong>Período: </strong>Fevereiro 2024 - Maio 2024</p>
                <p><strong>Descrição:</strong></p>
                <ul>
                    <li>
                      Liderança na utilização de análises de dados para fundamentar decisões estratégicas, aprimorando a performance do e-commerce
                    </li>
                    <li>
                      Gerenciamento completo de um banco de dados PostgreSQL, assegurando sua performance, segurança e confiabilidade. Usei SQL para extrair, analisar e interpretar grandes volumes de informação
                    </li>
                    <li>
                      Configurei o Google Analytics no e-commerce, permitindo uma coleta de dados precisa e insights sobre o comportamento dos usuários
                    </li>
                    <li>
                      Conduzi análises detalhadas do inventário utilizando dados analíticos para aprimorar a gestão de estoque
                    </li>
                    <li>
                      Atuei como um elo entre as equipes de marketing, TI e operação, promovendo a cultura data-driven através do compartilhamento de insights analíticos
                    </li>
                </ul>
            </div>
        </div>
    </div>

      <div class="col-6 col-md-4" style="margin-bottom: 10px;">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title"><a class='text-decoration-none' href="https://www.linkedin.com/company/adin-marketing-digital/" target="_blank">ADIN - Oracle CX</a></h3>
                <p><strong>Cargo:</strong> Web Designer Júnior</p>
                <p><strong>Período:</strong> Fevereiro 2022 - Maio 2023</p>
                <p><strong>Descrição:</strong></p>
                <ul>
                    <li>
                        Realizei a segmentação de disparos de e-mail no ambiente Oracle Responsys, usando consultas SQL, a fim de direcionar campanhas com base no comportamento de compra dos clientes e na interação dos leads nos sites das empresas clientes.
                    </li>
                    <li>
                        Criava e executava campanhas para marcas de moda líderes, como Arezzo, Schutz, Anacapri, Vans e Malwee.
                    </li>
                    <li>
                        Coletei e analisei os dados de abertura, cliques e conversões de campanhas, identificando tendências e oportunidades de melhoria com base nos resultados.
                    </li>
                    <li>
                        Transformei conceitos de design em e-mails atraentes e de fácil leitura, usando Photoshop, Illustrator, HTML e CSS, preservando a identidade da marca e proporcionando uma experiência positiva para os leads.
                    </li>
                    <li>
                        Colaborei com equipes internas e externas para integrar eficientemente as campanhas de e-mail com outras iniciativas de marketing.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4" style="margin-bottom: 10px;">
      <div class="card h-100">
          <div class="card-body">
              <h3 class="card-title"><a class='text-decoration-none' href="https://www.linkedin.com/company/ecotec-brasil/" target="_blank">Ecotec Brasil</a></h3>
              <p><strong>Cargo: </strong>Estagiária</p>
              <p><strong>Período: </strong> Abril 2021 - Fevereiro 2022</p>
              <p><strong>Descrição:</strong></p>
              <ul>
                  <li>
                      Realizei a segmentação de disparos de e-mail no ambiente Oracle Responsys, usando consultas SQL, a fim de direcionar campanhas com base no comportamento de compra dos clientes e na interação dos leads nos sites das empresas clientes.
                  </li>
                  <li>
                      Criava e executava campanhas para marcas de moda líderes, como Arezzo, Schutz, Anacapri, Vans e Malwee.
                  </li>
                  <li>
                      Coletei e analisei os dados de abertura, cliques e conversões de campanhas, identificando tendências e oportunidades de melhoria com base nos resultados.
                  </li>
                  <li>
                      Transformei conceitos de design em e-mails atraentes e de fácil leitura, usando Photoshop, Illustrator, HTML e CSS, preservando a identidade da marca e proporcionando uma experiência positiva para os leads.
                  </li>
                  <li>
                      Colaborei com equipes internas e externas para integrar eficientemente as campanhas de e-mail com outras iniciativas de marketing.
                  </li>
              </ul>
          </div>
      </div>
      
  </div>
</div>








    </div>

    
    <!-- Educação -->
    
    <div class="row">
      <div class="col-12">
        <br style="height: 5vh;">
        <h2 class="section-title">Educação</h2>
        <br style="height: 5vh;">
      
      </div>

      <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Descomplica</h3>
                <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
                <p><strong>Conclusão previsa:</strong> Julho/2024</p>
               
            </div>
        </div>
    </div>

      
      
    </div>
    <br style="height: 20vh;">

  </div>

{% endblock %}