{% extends 'base.html' %}

{% block content %}

<div class="background-image">
    <div class="overlay">
    <div class="content">
        <div style="height: 25vh;"></div>
      <h1>Geovanna Alves - Projetos</h1>
      <!-- <p>Texto adicional!!</p> -->
      <a href="/projetos"><button type="button" class="btn btn-primary">Projetos</button></a>
      <a href="/curriculo"><button type="button" class="btn btn-secondary">Currículo</button></a>

      <div class="container mx-auto" style="margin-top: 10vh;">
        <div class="row justify-content-center">
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="tech-box text-center">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <p>HTML & CSS</p>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="tech-box text-center">
              <i class="fab fa-python"></i>
              <p>Python & Django</p>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="tech-box text-center">
              <i class="fas fa-database"></i>
              <p>SQL</p>
            </div>
          </div>
          
        </div>
      </div>
      


    </div>
    


    



  

{% endblock %}